.DS_Store
.dart_tool/

.packages
.pub/

build/
.idea/.gitignore
.idea/modules.xml
.idea/codeStyles/Project.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.idea/runConfigurations/example_lib_main_dart.xml
android/.cxx/cmake/debug/arm64-v8a/.ninja_deps
android/.cxx/cmake/debug/arm64-v8a/.ninja_log
android/.cxx/cmake/debug/arm64-v8a/android_gradle_build_mini.json
android/.cxx/cmake/debug/arm64-v8a/android_gradle_build_verifiquese_arm64-v8a.stdout.txt
android/.cxx/cmake/debug/arm64-v8a/android_gradle_build.json
android/.cxx/cmake/debug/arm64-v8a/android_gradle_generate_cmake_ninja_json_arm64-v8a.command.txt
android/.cxx/cmake/debug/arm64-v8a/build_command.txt
android/.cxx/cmake/debug/arm64-v8a/build_model.json
android/.cxx/cmake/debug/arm64-v8a/build.ninja
android/.cxx/cmake/debug/arm64-v8a/CMakeCache.txt
android/.cxx/cmake/debug/arm64-v8a/json_generation_record.json
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/CMakeOutput.log
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/base64.cpp.o
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/convert.cpp.o
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/document.cpp.o
android/.cxx/cmake/debug/arm64-v8a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/verifiquese.cpp.o
android/.cxx/cmake/debug/armeabi-v7a/.ninja_deps
android/.cxx/cmake/debug/armeabi-v7a/.ninja_log
android/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_mini.json
android/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_verifiquese_armeabi-v7a.stdout.txt
android/.cxx/cmake/debug/armeabi-v7a/android_gradle_build.json
android/.cxx/cmake/debug/armeabi-v7a/android_gradle_generate_cmake_ninja_json_armeabi-v7a.command.txt
android/.cxx/cmake/debug/armeabi-v7a/build_command.txt
android/.cxx/cmake/debug/armeabi-v7a/build_model.json
android/.cxx/cmake/debug/armeabi-v7a/build.ninja
android/.cxx/cmake/debug/armeabi-v7a/CMakeCache.txt
android/.cxx/cmake/debug/armeabi-v7a/json_generation_record.json
android/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/CMakeOutput.log
android/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
android/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/base64.cpp.o
android/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/convert.cpp.o
android/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/document.cpp.o
android/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/verifiquese.cpp.o
android/.cxx/cmake/debug/x86/.ninja_deps
android/.cxx/cmake/debug/x86/.ninja_log
android/.cxx/cmake/debug/x86/android_gradle_build_mini.json
android/.cxx/cmake/debug/x86/android_gradle_build_verifiquese_x86.stdout.txt
android/.cxx/cmake/debug/x86/android_gradle_build.json
android/.cxx/cmake/debug/x86/android_gradle_generate_cmake_ninja_json_x86.command.txt
android/.cxx/cmake/debug/x86/build_command.txt
android/.cxx/cmake/debug/x86/build_model.json
android/.cxx/cmake/debug/x86/build.ninja
android/.cxx/cmake/debug/x86/CMakeCache.txt
android/.cxx/cmake/debug/x86/json_generation_record.json
android/.cxx/cmake/debug/x86/CMakeFiles/CMakeOutput.log
android/.cxx/cmake/debug/x86/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
android/.cxx/cmake/debug/x86/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/base64.cpp.o
android/.cxx/cmake/debug/x86/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/convert.cpp.o
android/.cxx/cmake/debug/x86/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/document.cpp.o
android/.cxx/cmake/debug/x86/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/verifiquese.cpp.o
android/.cxx/cmake/debug/x86_64/.ninja_deps
android/.cxx/cmake/debug/x86_64/.ninja_log
android/.cxx/cmake/debug/x86_64/android_gradle_build_mini.json
android/.cxx/cmake/debug/x86_64/android_gradle_build_verifiquese_x86_64.stdout.txt
android/.cxx/cmake/debug/x86_64/android_gradle_build.json
android/.cxx/cmake/debug/x86_64/android_gradle_generate_cmake_ninja_json_x86_64.command.txt
android/.cxx/cmake/debug/x86_64/build_command.txt
android/.cxx/cmake/debug/x86_64/build_model.json
android/.cxx/cmake/debug/x86_64/build.ninja
android/.cxx/cmake/debug/x86_64/CMakeCache.txt
android/.cxx/cmake/debug/x86_64/json_generation_record.json
android/.cxx/cmake/debug/x86_64/CMakeFiles/CMakeOutput.log
android/.cxx/cmake/debug/x86_64/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
android/.cxx/cmake/debug/x86_64/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/base64.cpp.o
android/.cxx/cmake/debug/x86_64/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/convert.cpp.o
android/.cxx/cmake/debug/x86_64/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/document.cpp.o
android/.cxx/cmake/debug/x86_64/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/verifiquese.cpp.o
android/.cxx/cmake/release/arm64-v8a/.ninja_deps
android/.cxx/cmake/release/arm64-v8a/.ninja_log
android/.cxx/cmake/release/arm64-v8a/android_gradle_build_verifiquese_arm64-v8a.stdout.txt
android/.cxx/cmake/release/arm64-v8a/android_gradle_build.json
android/.cxx/cmake/release/arm64-v8a/android_gradle_generate_cmake_ninja_json_arm64-v8a.stdout.txt
android/.cxx/cmake/release/arm64-v8a/build_output.txt
android/.cxx/cmake/release/arm64-v8a/build.ninja
android/.cxx/cmake/release/arm64-v8a/CMakeCache.txt
android/.cxx/cmake/release/arm64-v8a/json_generation_record.json
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/base64.cpp.o
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/convert.cpp.o
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/document.cpp.o
android/.cxx/cmake/release/arm64-v8a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/verifiquese.cpp.o
android/.cxx/cmake/release/armeabi-v7a/.ninja_deps
android/.cxx/cmake/release/armeabi-v7a/.ninja_log
android/.cxx/cmake/release/armeabi-v7a/android_gradle_build_verifiquese_armeabi-v7a.stdout.txt
android/.cxx/cmake/release/armeabi-v7a/android_gradle_build.json
android/.cxx/cmake/release/armeabi-v7a/android_gradle_generate_cmake_ninja_json_armeabi-v7a.stdout.txt
android/.cxx/cmake/release/armeabi-v7a/build_output.txt
android/.cxx/cmake/release/armeabi-v7a/build.ninja
android/.cxx/cmake/release/armeabi-v7a/CMakeCache.txt
android/.cxx/cmake/release/armeabi-v7a/json_generation_record.json
android/.cxx/cmake/release/armeabi-v7a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/base64.cpp.o
android/.cxx/cmake/release/armeabi-v7a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/convert.cpp.o
android/.cxx/cmake/release/armeabi-v7a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/document.cpp.o
android/.cxx/cmake/release/armeabi-v7a/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/verifiquese.cpp.o
android/.cxx/cmake/release/x86/.ninja_deps
android/.cxx/cmake/release/x86/.ninja_log
android/.cxx/cmake/release/x86/android_gradle_build_verifiquese_x86.stdout.txt
android/.cxx/cmake/release/x86/android_gradle_build.json
android/.cxx/cmake/release/x86/android_gradle_generate_cmake_ninja_json_x86.stdout.txt
android/.cxx/cmake/release/x86/build_output.txt
android/.cxx/cmake/release/x86/build.ninja
android/.cxx/cmake/release/x86/CMakeCache.txt
android/.cxx/cmake/release/x86/json_generation_record.json
android/.cxx/cmake/release/x86/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/base64.cpp.o
android/.cxx/cmake/release/x86/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/convert.cpp.o
android/.cxx/cmake/release/x86/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/document.cpp.o
android/.cxx/cmake/release/x86/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/verifiquese.cpp.o
android/.cxx/cmake/release/x86_64/.ninja_deps
android/.cxx/cmake/release/x86_64/.ninja_log
android/.cxx/cmake/release/x86_64/android_gradle_build_verifiquese_x86_64.stdout.txt
android/.cxx/cmake/release/x86_64/android_gradle_build.json
android/.cxx/cmake/release/x86_64/android_gradle_generate_cmake_ninja_json_x86_64.stdout.txt
android/.cxx/cmake/release/x86_64/build_output.txt
android/.cxx/cmake/release/x86_64/build.ninja
android/.cxx/cmake/release/x86_64/CMakeCache.txt
android/.cxx/cmake/release/x86_64/json_generation_record.json
android/.cxx/cmake/release/x86_64/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/base64.cpp.o
android/.cxx/cmake/release/x86_64/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/convert.cpp.o
android/.cxx/cmake/release/x86_64/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/document.cpp.o
android/.cxx/cmake/release/x86_64/CMakeFiles/verifiquese.dir/home/leonardo/CodeProjects/app/vfq_interprete/ios/Classes/verifiquese.cpp.o
